
.chess-table{
    margin-top: 300px;
    margin-left: 800px;
    border: solid;
    height: 320px;
    width: 320px;
    display: flex;
    flex-direction: column;
}
.chess-row{
    width: 320px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.chess-block{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.chess-row:nth-child(even) > .chess-block:nth-child(odd),
.chess-row:nth-child(odd) > .chess-block:nth-child(even){
    background-color: rgb(61, 41, 41);
}

.chess-row:nth-child(even) > .chess-block:nth-child(even),
.chess-row:nth-child(odd) > .chess-block:nth-child(odd){
    background-color: rgb(177, 168, 152);
}
.white-pawn{
    background: url(img/WhitePawn.png);
    background-size: contain;
}
.black-pawn{
    background: url(img/BlackPawn.png);
    background-size: contain;
}
.white-queen{
    background: url(img/WhiteQueen.png);
    background-size: contain;
}
.black-queen{
    background: url(img/BlackQueen.png);
    background-size: contain;
}
.active{
    background-color: rgb(215, 253, 0) !important;
}
.possible-move::after{
    content: '';
    width: 40px;
    height: 40px;
    opacity: 0.5;
    background-color: lightskyblue ;
    position: absolute;
}
